.footer {
    color: #545454;
    max-width: 880px;
    align-self: flex-start;
    padding-left: calc(50% - 440px);
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 100%;
    }    
}