.elements__button {
    padding: 0;
    margin-right: 20px;
    width: 22px;
    height: 19px;
    align-self: center;
    background-color: transparent;
    border: 0;
    background-image: url(../../../images/elements/Vector.svg);
    transition: opacity .4s ease-in;
    cursor: pointer;
}

.elements__button:hover {
    opacity: .5;
}