.profile__name {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: calc(48 / 42);
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

@media screen and (max-width: 1023px) {
    .profile__name {
        font-size: 27px;
        line-height: calc(33 / 27);
        text-align: right;
    }    
}